.metrics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  box-shadow: 0 3px 4px 0 rgba(64,112,203,.06);
  background: #fff;
  font-size: 16px;
  text-align: left;
  padding: 0 24px;
}
