// 整个站点样式

@charset 'utf-8';
@import './conf';
@import './mixins/clearfix';
@import './mixins/ellipsis';
@import './bk-patch';

.biz-container {
	width: 100%;
	display: flex;
	min-height: calc(100% - 210px);
	.biz-side-bar {
		width: 261px;
		border-right: 1px solid $borderWeightColor;
		background: #fff;
	}
    .biz-content-wrapper {
        min-height: 400px;
    }
	.biz-content {
		position: relative;
		align-items: stretch;
		flex: 1;
		overflow: auto;
		.biz-top-bar {
			height: 60px;
			border-bottom: 1px solid $borderWeightColor;
			background: #fff;
			box-shadow: 4px 0 3px rgba(0, 0, 0, 0.1);
		}
	}
	.biz-panel-header {
		@include clearfix;
		padding: 17px 20px 12px 20px;
		.left {
			float: left;
		}
		.right {
			float: right;
		}
	}
}

.biz-action-box {
	padding: 20px;
}

.biz-progress-box {
	font-size: 14px;
	color: $fontColor;

	.progress-header {
		margin-bottom: 10px;
		@include clearfix;
		.title {
			float: left;
		}
		.percent {
			float: right;
		}
	}
	.progress {
		height: 6px;
	    overflow: hidden;
	    background-color: #ebf0f5;
	    border-radius: 3px;
	    position: relative;
	    .progress-bar {
			float: left;
		    width: 0;
		    height: 100%;
		    font-size: 12px;
		    line-height: 6px;
		    border-radius: 3px;
		    background-color: #9dcaff;
		    -webkit-transition: width .6s ease;
		    -o-transition: width .6s ease;
		    transition: width .6s ease;
		    &.primary {
		    	background-color: #9dcaff;
		    }
		    &.danger {
		    	background-color: #9dcaff;
		    }
		    &.success {
		    	background-color: #97ebbb;
		    }
		    &.warning {
		    	background-color: #ffd97f;
		    }
	    }
	}
}

.biz-primary-text {
	font-size: 12px;
	color: $primaryColor;
}

.biz-warning-text {
	font-size: 12px;
	color: $warningColor;
}

.biz-success-text {
	font-size: 12px;
	color: $successColor;
}

.biz-danger-text {
	font-size: 12px;
	color: $dangerColor;
}

.biz-page-box {
	@include clearfix;
	padding: 30px 40px 35px 0;
	.bk-page {
		float: right;
	}
}

.biz-search-input {
	display: inline-block;
	position: relative;
	.biz-search-btn {
		position: absolute;
		right: 10px;
		top: 8px;
		font-size: 16px;
		color: $fontColor;
	}
}
