.bk-permission-cursor-element {
    background: url("../svg/lock.svg?inline");
    height: 16px;
    width: 12px;
}

.bk-permission-disable.bk-button, .bk-permission-disable.bk-button:hover, .bk-permission-disable .bk-button, .bk-permission-disable .bk-button:hover {
    background: #fff !important;
    border-color: #dcdee5 !important;
    color: #c4c6cc !important;
}

.bk-permission-disable.bk-button.bk-primary, .bk-permission-disable.bk-button.bk-primary:hover, .bk-permission-disable .bk-button.bk-primary, .bk-permission-disable .bk-button.bk-primary:hover {
    background: #dcdee5 !important;
    border-color: #dcdee5 !important;
    color: #fff !important;
}

.bk-permission-disable.bk-button.bk-button-primary, .bk-permission-disable.bk-button.bk-button-primary:hover, .bk-permission-disable .bk-button.bk-button-primary, .bk-permission-disable .bk-button.bk-button-primary:hover {
    background: #dcdee5 !important;
    border-color: #dcdee5 !important;
    color: #fff !important;
}

.bk-permission-disable.bk-button.bk-button-text, .bk-permission-disable.bk-button.bk-button-text:hover, .bk-permission-disable .bk-button.bk-button-text, .bk-permission-disable .bk-button.bk-button-text:hover {
    background: transparent !important;
    border-color: transparent !important;
    color: #dcdee5 !important;
}

.bk-permission-disable, .bk-permission-disable:hover {
    color: #dcdee5 !important;
}

.bk-permission-tooltips {
    position: relative;
    white-space: nowrap;
}

.bk-permission-tooltips[tooltips]::before {
    content: "";
    position: absolute;
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: transparent;
    border-top-color: black;
    z-index: 99;
    opacity:0;
    top:-5px;
    left:50%;
    transform: translateX(-50%);
}
.bk-permission-tooltips[tooltips]::after {
    content: attr(tooltips);
    position: absolute;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    color: #fff;
    border-radius: 5px;
    padding: 7px 14px;
    font-size: 12px;
    line-height: 18px;
    pointer-events: none;
    z-index: 9999;
    opacity: 0;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) translateY(-100%);
}

.bk-permission-tooltips[tooltips]:hover::after, .bk-permission-tooltips[tooltips]:hover::before{
    opacity: 1;
}
