.DS_Store
.idea
bin/
docs/node_modules
docs/_book
docs/package-lock.json
docs/.DS_Store
gateway/make_link.sh


src/backend/.project

frontend/*/.DS_Store
frontend/*/node_modules/
frontend/*/webpack_cache/
frontend/*/dist/
frontend/*/npm-debug.log*
frontend/*/yarn-debug.log*
frontend/*/yarn-error.log*

frontend/*/package-lock.json
node_modules/