.DS_Store
.idea
.vscode
.fleet
.gradle
.settings
bin/
docs/node_modules
docs/_book
docs/package-lock.json
docs/.DS_Store
gateway/make_link.sh


src/backend/.project

frontend/*/.DS_Store
frontend/*/node_modules/
frontend/*/webpack_cache/
frontend/*/dist/
frontend/*/npm-debug.log*
frontend/*/yarn-debug.log*
frontend/*/yarn-error.log*

frontend/*/package-lock.json
node_modules/

src/backend/ci/.project
src/backend/ci/.setting
out
**version.txt
/src/backend/ci/.settings/
.prebuild.yml
.temp
.history
.codecc
build.yml
*.ipa
build/
bkci-slim.tar.gz

# 容器化忽略文件
helm-charts/core/ci/bk-ci*.tgz
helm-charts/core/ci/values.yaml
helm-charts/core/ci/templates/configmap/tpl/
docker-images/core/ci/ci
docker-images/core/ci/ci-docker
docker-images/core/ci/*.gz

#turbo 忽略文件
src/backend/turbo/**/build/
src/backend/turbo/release/
