.app {
  text-align: center;
  background: #f5f7fb;
  color: #63656e;
  font-size: 12px;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
