spring:
  application:
    name: prebuild
    desc: bkdevops prebuild Service
    version: 4.0.0
    packageName: com.tencent.devops.prebuild
  rabbitmq:
    virtual-host: prebuild
    username: soda
    password: soda
    addresses: 10.125.48.80:5672
#    listener:
#      simple:
#        concurrency: 5
#    cache:
#      channel:
#        size: 100
  datasource:
    url: jdbc:mysql://10.125.48.80:3306/devops_prebuild?useSSL=false&autoReconnect=true&timezone=+800&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
    username: tig4php
    password: tig4php
  redis:
    database: 2
    host: 10.125.48.80
    password: itdev@db
  cloud:
    consul:
      discovery:
        tags: local

server:
  port: 8099
  undertow:
    worker-threads: 100

gateway:
  url: dev.gw.open.oa.com
  service: dev.gw.devops.oa.com

registry:
  host: dev.artifactory.oa.com:8443
  userName: devops_pipeline_backend_api
  password: N91Z8Xji1nxrg7h8

devCloud:
  appId: 10001
  token: asQPl34g*sdf82U3&
  smartProxyToken: 6fef34499b04d82ea22f6fb15a3c46aba287977153d015723aeb
  #url: http://idc.esb.oa.com/bkdevops/test_tencentcloud
  url: http://test.tencentcloud.oa.com

codeCC:
  softwarePath: /data/codecc_software/scan_local_test2/bin/build.py

---
spring:
  profiles: dev
  rabbitmq:
    virtual-host: soda4_test
    username: soda
    password: soda
    addresses: 100.97.154.15:5672
    listener:
      simple:
        concurrency: 50
    cache:
      channel:
        size: 100
  datasource:
    url: jdbc:mysql://gamedb.dev.devops.db:10000/devops_prebuild?useSSL=false&autoReconnect=true&timezone=+800&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true
    username: ENC(4thI6E9FBq9rHHDuRXRIyA==)
    password: ENC(muhwM7Fz7zJZF/OsJSlOoA==)
  redis:
    database: 7
    host: redis.v3paas.blueking.db
    password: ENC(24ZS8Y4XnyMzKkKEhsl48q9EPtVVT1AbqJvO/jmDrBI=)
    port: 30003
  cloud:
    consul:
      discovery:
        tags: dev

server:
  port: 80


gateway:
  url: dev.gw.open.oa.com
  service: dev.gw.devops.oa.com


registry:
  host: dev.artifactory.oa.com:8443
  userName: devops_pipeline_backend_api
  password: N91Z8Xji1nxrg7h8

devCloud:
  appId: 10001
  token: asQPl34g*sdf82U3&
  url: http://oss.esb.oa.com/bkdevops/test_tencentcloud
  #url: http://test.tencentcloud.oa.com

codeCC:
  softwarePath: /data/codecc_software/scan_local_test2/bin/build.py