{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
                },
                "debug": false,
                "useBuiltIns": "usage"
            }
        ],
        "stage-2"
    ],
    "plugins": [ "transform-runtime", "transform-vue-jsx", "transform-class-properties", "transform-decorators-legacy"],
    "env": {
        "test": {
            "presets": ["env", "stage-1"],
            "plugins": ["istanbul"]
        }
    }
}
