.devops-503 {
  text-align: center;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.devops-503 .exception-text {
    font-size: 20px;
    color: #979797;
    margin: 32px 0;
    font-weight: normal;
}

