.permission-dialog .bk-dialog-sub-header {
    padding: 0 !important;
    text-align: center;
}

.permission-exception .bk-exception-text {
    margin: -5px 0 25px 0;
}

.permission-table {
    padding: 0 25px;
    margin-bottom: 20px;
}

.permission-table.bk-table:before {
    background: #dfe0e5;
    left: 25px;
    width: calc(100% - 50px);
}

.permission-table .bk-table-empty-block {
    width: auto;
}

.permission-table .cell {
    width: 90%;
}

.permission-footer {
    height: 48px;
    display: flex;
    align-items: center;
    background: #FAFBFD;
    box-shadow: 0 -1px 0 0 #DCDEE5;
    justify-content: flex-end;
}

.permission-confirm {
    margin-right: 5px;
}

.permission-cancel {
    margin-right: 25px;
}

.permission-list {
    width: 94px;
    height: 32px;
    background: #3A84FF;
    border-radius: 2px;
    margin-right: 5px;
}

.permission-list .bk-dropdown-trigger {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    height: 100%;
    justify-content: center;
    font-size: 14px !important;
    line-height: 30px;
    padding: 0 14px;
    cursor: pointer;
}

.permission-list .bk-dropdown-list {
    width: auto;
}

.permission-list .bk-dropdown-list>li {
    font-weight: normal;
    padding: 0 14px;
    line-height: 32px;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: normal;
}

.permission-list .bk-dropdown-list>li:hover {
    background: #F5F7FA;
}

.permission-list .icon-angle-down {
    font-size: 20px;
}

.permission-refresh-dialog {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.permission-dialog-v3 .bk-modal-header {
    height: 30px;
}

.permission-dialog-v3 .bk-modal-content {
    padding: 0 !important;
}

.permission-dialog-v3 .bk-exception-part {
    margin-bottom: 20px;
}

.permission-dialog-v3.bk-modal-wrapper.bk-info-wrapper .bk-modal-content .bk-info-sub-title {
    margin-bottom: 0;
}

.permission-dialog-v3 .permission-table-wrapper {
    padding: 0 25px;
    margin-bottom: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.icon-angle-down-v3 {
    font-size: 20px;
    margin: 0 -7px 0 2px;
}
