<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>蓝鲸CI</title>
</head>

<body style="text-align:center;"> 
    <div class="bk-exception" style="margin:0px auto">
        <img src="/errorpage/404.png">
        <h2 class="exception-text" style="color:#000000">你访问的页面不存在</h2>
        <h5 class="exception-text" style="color:#737987">你访问的网址有误或该网址已过期</h5>
    </div>
</body>

</html>