.idea/
.gradle/
build/
!com/tencent/devops/common/pipeline/pojo/element/build/
!/element/build/
target/
out/
release/
reports/
*.iml
.DS_Store
*.log
version.txt
support-files/etc
build.yml
.temp
.codecc
*.log.gz
i18n/
