@import './reset';
@import './conf';
@import './icon/iconfont.css';
@import './devopsSelect.scss';

body,
html,
.devops-app {
  height: 100%;
  font-size: 14px;
  font-family: Helvetica Neue, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
  color: $fontColor;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background-color: lighten(#a5a5a5, 80%);
}
::-webkit-scrollbar-thumb {
  height: 8px;
  border-radius: 20px;
  background-color: #a5a5a5;
}

.devops-app {
  display: flex;
  background-color: $bgHoverColor;
  .devops-desc {
    color: $fontLighterColor;
  }
  link {
    color: $primaryColor;
    cursor: pointer;
  }
  .error-tips {
    color: $failColor;
    font-size: 12px;
    padding-top: 5px;
    &:before {
      content: '*';
      margin-right: 5px;
    }
  }
  .bk-label {
    font-weight: 700;
    color: $fontWeightColor;
    padding-right: 20px;
  }
}

.bk-message-icon {
  min-width: 20px !important;
}
