server:
  port: 8080

spring:
  application:
    name: bkrepo
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017/bkrepo
      transaction:
        enabled: false
  main:
    allow-bean-definition-overriding: true

logging:
  level:
    com.tencent: DEBUG

storage:
  type: filesystem
  filesystem:
    path: /data/store

security:
  auth:
    enabled: true
    jwt:
      secretKey: bkrepo@secret

