# 服务配置文件模板
spring:
  datasource:
    url: jdbc:mysql://__BK_CI_MYSQL_ADDR__/devops_ci_log?useSSL=false&autoReconnect=true&timezone=+800&useUnicode=true&characterEncoding=utf8&allowMultiQueries=true&sessionVariables=sql_mode=%27STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION%27
    username: __BK_CI_MYSQL_USER__
    password: __BK_CI_MYSQL_PASSWORD__

# 服务器端口配置，在同一台机器上部署多个微服务，端口号要不同 21914
server:
  port: __BK_CI_LOG_API_PORT__

log:
  storage:
    type: __BK_CI_LOG_STORAGE_TYPE__                # 日志存储方式 lucene/elasticsearch
    closeInDay: __BK_CI_LOG_CLOSE_DAY__             # 索引自动关闭时间，留空则为永不关闭
    deleteInDay: __BK_CI_LOG_DELETE_DAY__           # 索引自动删除时间，留空则为永不删除
  # 通过本地文件系统进行存储的必要配置
  lucene:
    dataDirectory: __BK_CI_LUCENE_DATA_DIR__        # 建立lucene索引的根目录
    indexMaxSize: __BK_CI_LUCENE_INDEX_MAX_SIZE__   # 单个构建的最大日志行数，建议设在100万内
  # 通过Elasticsearch服务进行存储的必要配置
  elasticsearch:
    ip: __BKCI_ES_IP__
    port: __BKCI_ES_PORT__
    cluster: __BKCI_ES_CLUSTER__
    name: DEVOPS
    #  ES集群如果不要求账号密码认证，则可以去掉以下2个ES的访问账号密码配置项或留空
    username: __BK_CI_ES_USER__
    password: __BK_CI_ES_PASSWORD__
    #  ES集群如果要求HTTPS协议请求，则需要需要打开以下5个配置项， 设置keystore文件和truststore文件以及密码
#    https: true
#    keystore:
#      filePath:
#      password:
#    truststore:
#      filePath:
#      password:
