@font-face {
	font-family: "permission";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.permission-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'permission' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.permission-icon-app-store-fill:before {
	content: "\e101";
}
.permission-icon-search:before {
	content: "\e102";
}
.permission-icon-close:before {
	content: "\e103";
}
.permission-icon-angle-right:before {
	content: "\e104";
}
.permission-icon-close-circle-shape:before {
	content: "\e105";
}
.permission-icon-close-samll:before {
	content: "\e106";
}
.permission-icon-review:before {
	content: "\e107";
}
