.componentTip {
  font-weight: normal;
  font-size: 12px;
  display: flex;
  border: 1px solid #e6e6e6;
  margin-bottom: 16px;
}

.tipMessage {
  flex: 1;
  padding: 10px 18px;
  line-height: 22px;
  word-break: break-all;
  background: #f5f7fa;
  color: #63656e;

  :global(.text-link) {
    font-size: 12px;
    margin: 0;
  }

  :global(.text-bad-link) {
    cursor: not-allowed;
  }
}
