build
pubspec.lock
.dart_tool
package_config.json
.packages
.vscode
.flutter-plugins
.flutter-plugins-dependencies
index.html
ios/Podfile.lock
.vscode/launch.json
android/.project
android/.idea
android/app/.project
