{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "commonjs",
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "not ie <= 8"],
                    "node": "current"
                },
                "debug": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-transform-object-assign",
        "lodash",
        "@babel/plugin-syntax-dynamic-import",
        // ["babel-plugin-import-bk-magic-vue", {
        //     "baseLibName": "bk-magic-vue"
        // }],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-proposal-export-namespace-from",
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-throw-expressions",
        "@babel/plugin-transform-async-to-generator",
        "transform-vue-jsx"
    ],
    "env": {
        "test": {
            "presets": ["@babel/preset-env"],
            "plugins": [
                "istanbul",
                ["@babel/plugin-proposal-decorators", { "legacy": true }],
                "@babel/plugin-proposal-function-sent",
                "@babel/plugin-proposal-export-namespace-from",
                "@babel/plugin-proposal-numeric-separator",
                "@babel/plugin-proposal-throw-expressions"
            ]
        }
    }
}
