@import './main-content-outer.css';
@import './main-content-inner.css';

:root {
    --siderWidth: 240px;
    --navTopHeight: 0px;
}

body {
    font-family: Microsoft Yahei, pingFang-SC-Regular, Helvetica, Aria;
    background: #fafbfd;
}
.full-width {
    width: 100%;
}

.center-content {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
    color: #3a84ff;
}
a:hover {
    color: #3a84ff;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 20px;
    background-color: #a5a5a5;
}

/* bk组件样式hack */
.bk-button {
    .bk-icon {
        margin-right: 4px!important;
    }
}

.bk-select {
    font-size: 14px!important;
}
.bk-options .bk-option-content .bk-option-name {
    font-size: 14px!important;
}

.bk-table {
    font-size: 12px!important;
}
.bk-tab.bk-tab-unborder-card .bk-tab-header {
    background-color: transparent!important;
    border: none!important;
    height: 42px!important;
}

.bk-button-xsmall {
    height: 18px!important;
    line-height: 16px!important;
    padding: 0 6px!important;
    min-width: 48px!important;
}

.bk-switcher-xsmall {
    width: 28px!important;
    height: 16px!important;
    line-height: 14px!important;
    &:after {
        width: 14px!important;
        height: 14px!important;
        top: 1px!important;
        left: 1px!important;
    }

    &.is-checked:after {
        margin-left: 12px!important;
    }
}

.success {
    color: $successColor;
}
.fail {
    color: $failColor;
}
.warn {
    color: $warningColor;
}
.loading {
    color: $goingColor
}