@import './main-content-outer.css';
@import './main-content-inner.css';

:root {
    --siderWidth: 220px;
    --navTopHeight: 60px;
    --bannerHeight: 30px;
}

body {
    font-family: Microsoft Yahei, pingFang-SC-Regular, Helvetica, Aria;
    background: #fafbfd;
}
.full-width {
    width: 100%;
}

.center-content {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
    color: #3a84ff;
}
a:hover {
    color: #3a84ff;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    height: 8px;
    border-radius: 20px;
    background-color: #a5a5a5;
}
:focus {
    outline: none;
}

/* bk组件样式hack */
.bk-button {
    .bk-icon {
        margin-right: 4px!important;
    }
}

.bk-table {
    font-size: 12px!important;
    .bk-table-empty-block {
        background-color: #fff;
    }
}
.bk-tab.bk-tab-unborder-card .bk-tab-header {
    background-color: transparent!important;
    border: none!important;
    height: 42px!important;
}

.bk-button-xsmall {
    height: 18px!important;
    line-height: 16px!important;
    padding: 0 6px!important;
    min-width: 48px!important;
}

.bk-switcher-xsmall {
    width: 28px!important;
    height: 16px!important;
    line-height: 14px!important;
    &:after {
        width: 14px!important;
        height: 14px!important;
        top: 1px!important;
        left: 1px!important;
    }

    &.is-checked:after {
        margin-left: 12px!important;
    }
}
.bk-button .bk-icon {
    top: 0;
}

.success {
    color: $successColor;
}
.fail {
    color: $failColor;
}
.warn {
    color: $warningColor;
}
.loading {
    color: $goingColor
}

.cc-dot {
    display: inline-block;
    border: 3px solid;
    border-radius: 3px;
    margin: 0 5px 2px;
}
.pd10 {
    padding: 10px;
}
.pd15 {
    padding: 15px;
}
.pd20 {
    padding: 20px;
}
.disb {
    display: block!important;
}
.disib {
    display: inline-block;
}
.disf {
    display: flex;
}
.curpt {
    cursor: pointer;
}
.cc-splite {
    padding: 0 10px;
    color: #d9e2e8;
}
.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs18 {
    font-size: 18px;
}
.fs20 {
    font-size: 20px;
}
.dn {
    display: none;
}
.txac {
    text-align: center;
}

.codecc-table-empty-text .empty-img {
    width: 60px;
    /* height: 56px; */
}

/* loading begin */
.cc-fading-circle {
    height: 12px;
    width: 12px;
    display: inline-block;
    position: relative;
}
.cc-fading-circle .cc-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.cc-fading-circle .cc-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #3a84ff;
    border-radius: 100%;
    animation: cc-circleFadeDelay 1.2s infinite ease-in-out both;
}
@keyframes cc-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0
    }

    40% {
        opacity: 1
    }
}
.cc-fading-circle .cc-circle2 {
    transform: rotate(30deg)
}

.cc-fading-circle .cc-circle3 {
    transform: rotate(60deg)
}

.cc-fading-circle .cc-circle4 {
    transform: rotate(90deg)
}

.cc-fading-circle .cc-circle5 {
    transform: rotate(120deg)
}

.cc-fading-circle .cc-circle6 {
    transform: rotate(150deg)
}

.cc-fading-circle .cc-circle7 {
    transform: rotate(180deg)
}

.cc-fading-circle .cc-circle8 {
    transform: rotate(210deg)
}

.cc-fading-circle .cc-circle9 {
    transform: rotate(240deg)
}

.cc-fading-circle .cc-circle10 {
    transform: rotate(270deg)
}

.cc-fading-circle .cc-circle11 {
    transform: rotate(300deg)
}

.cc-fading-circle .cc-circle12 {
    transform: rotate(330deg)
}
.cc-fading-circle .cc-circle2:before {
    animation-delay: -1.1s
}

.cc-fading-circle .cc-circle3:before {
    animation-delay: -1s
}

.cc-fading-circle .cc-circle4:before {
    animation-delay: -0.9s
}

.cc-fading-circle .cc-circle5:before {
    animation-delay: -0.8s
}

.cc-fading-circle .cc-circle6:before {
    animation-delay: -0.7s
}

.cc-fading-circle .cc-circle7:before {
    animation-delay: -0.6s
}

.cc-fading-circle .cc-circle8:before {
    animation-delay: -0.5s
}

.cc-fading-circle .cc-circle9:before {
    animation-delay: -0.4s
}

.cc-fading-circle .cc-circle10:before {
    animation-delay: -0.3s
}

.cc-fading-circle .cc-circle11:before {
    animation-delay: -0.2s
}

.cc-fading-circle .cc-circle12:before {
    animation-delay: -0.1s
}
/* loading end */

.cc-link {
    cursor: pointer; 
    &:hover {
        color: #3a84ff;
    }
}
.cc-link-primary {
    cursor: pointer; 
    color: #3a84ff;
    &:hover {
        color: #699df4;
    }
}
.cc-click {
    cursor: pointer;
    color: #3c96ff;
}
.cc-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.red-point {
    width: 6px;
    height: 6px;
    background: #f44343;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 0;
}