/* inner视图公共样式 */
@import './variable.css';

.color-major {
    color: $majorColor;
}
.color-minor {
    color: $minorColor;
}
.color-info {
    color: $infoColor;
}

.main-content-inner {
    &.main-content-form {
        .bk-form-item {
            width: 50%;
        }
    }

    &.main-content-list {
        .search-form {
            .bk-form-item {
                display: flex;
                flex: none;
                margin-bottom: 16px;
            }
            .bk-form-content {
                flex: 1;
                margin-left: 0!important;
                max-width: 420px;
                .bk-dropdown-menu {
                    display: flex;
                    flex: 1;
                    position: relative;
                    .bk-dropdown-trigger {
                        display: flex;
                        flex: 1;
                        .bk-button {
                            display: flex;
                            flex: 1;
                            .unselect {
                                color: #c3cdd7;
                                font-size: 12px;
                                margin-left: -4px;
                            }
                            .bk-icon {
                                position: absolute;
                                top: 7px;
                                right: 0;
                            }
                        }
                    }
                }
            }
            .bk-label {
                /* width: auto!important; */
                padding-right: 8px!important;
            }

            .checkbox-group .bk-form-checkbox {
                margin-right: 16px;
                &:last-of-type {
                    margin-right: 0;
                }
                /* line-height: 30px; */
            }
            .count {
                color: #313238;
                font-style: normal;
            }
            .count-major {
                color: $majorColor;
            }
            .count-minor {
                color: $minorColor;
            }
            .count-info {
                color: $infoColor;
            }

            .bk-select {
                background: #fff;
            }

            .stat {
                font-size: 14px;
                color: #979ba5;
                text-align: right;
                height: 30px;
                line-height: 30px;
            }
        }

        @media only screen and (min-width: 2200px) {
            .search-form {
                width: 80%!important;
            }
        }

        .search-more-option {
            position: absolute;
            top: 4px;
            height: 0;
            /* padding-top: 4px; */
            padding-right: 30px;
            width: 100%;
            text-align: center;
            .bk-icon {
                display: inline-block;
                color: #D8D8D8;
                font-size: 12px;
                cursor: pointer;
                &:hover {
                    color: #3c96ff;
                }
                &.icon-flip {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
