/* 存放常用变量 */

/* 边框色 */
/* 相对较浅，常用于容器边框色 */
$borderColor: #dcdee5;
/* 相对较深，常用于输入框边框色 */
/* $borderWeightColor: #dde4eb; */

/* 边框色 */
/* 相对更浅，常用于方格选项边框色 */
$itemBorderColor: #c4c6cc;

/* 字体色 */
$fontLightColor: #979ba5;
/* $fontColor: #7b7d8a; */
$fontWeightColor: #737987;

/* 主体 icon 颜色 */
$iconPrimaryColor: #3c96ff;
$primaryColor: #3c96ff;

/* 成功 icon 颜色 */
$iconSuccessColor: #2dcb56;
$successColor: #2dcb56;

/* 失败 icon 颜色 */
$iconFailColor: #ff5656;
$failColor: #ff5656;
$dangerColor: #ff5656;

/* warning icon 颜色 */
$iconWarningColor: #ffb400;
$warningColor: #ffb400;

/* 进行中 icon 颜色 */
$iconGoingColor: #3a84ff;
$goingColor: #3a84ff;

/* 淡色 */
$primaryLightColor: #ebf4ff;

/* 适配宽度 */
$mediaWidth: 1500px;

/* 背景 hover */
$bgHoverColor: #f0f1f5;

/* 背景颜色 */
$bgLightColor: #fafbfd;
$bgColor: #f5f7fa;

/* 问题严重 */
$majorColor: #ea3636;
/* 问题一般 */
$minorColor: #ff9c01;
/* 问题提示 */
$infoColor: #7572dc;
/* 角标颜色 */
$markColor: #9ec1f1;