<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="app_name" source="spring.application.name"/>

    <include resource="logback/appender.xml"/>

    <!-- 测试环境 -->
    <springProfile name="test | dev">
        <root level="INFO">
            <appender-ref ref="app-log"/>
            <appender-ref ref="error-log"/>
        </root>
        <logger name="com.tencent" level="DEBUG" />
    </springProfile>

    <!-- 本地环境 -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
        <logger name="com.tencent" level="DEBUG" />
    </springProfile>

    <!-- 其他环境 -->
    <springProfile name="!test &amp; !dev &amp; !local">
        <root level="INFO">
            <appender-ref ref="app-log"/>
            <appender-ref ref="error-log"/>
        </root>
    </springProfile>

    <!-- kubernetes环境 -->
    <springProfile name="kubernetes">
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>
</configuration>
