$primaryColor: #3c96ff;

// 边框色
$borderColor: #ebf0f5; // 相对较浅，常用于容器边框色
$borderWeightColor: #dde4eb; // 相对较深，常用于输入框边框色

// 淡色
$bgColor: #fafbfd;
$primaryLightColor: #ebf4ff;

// 字体色
$fontColor: #737987;
$fontColorLabel: #333c48;
$fontLigtherColor: #c3cdd7;
$fontWeightColor: #737987;