@import './common.scss';
@import './bk-patch';

.turbo-home {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f5f6fa;
    font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Microsoft YaHei,Helvetica Neue,Arial;
    color: #63656e;
    size: 14px;
    letter-spacing: 0;
    ::-webkit-scrollbar-thumb {
        background-color: #c4c6cc !important;
        border-radius: 3px !important;
        &:hover {
            background-color: #979ba5 !important;
        }
    }
    ::-webkit-scrollbar {
        width: 6px !important;
        height: 6px !important;
    }
}
