@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: -apple-system,PingFang SC,BlinkMacSystemFont,Microsoft YaHei,Helvetica Neue,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #f5f7fb;
  color: #63656e;
  font-size: 12px;
  text-align: left;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  height: 9px;
  border-radius: 20px;
  background-color: #c4c6cc;
}

.check-popper::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 28px;
  transform: rotate(45deg);
  border-width: 8px;
  border-style: solid;
  border-color: #FAFBFD;
  box-shadow: -1px -1px 0 0 #DCDEE5;
}

.required:after {
  position: absolute;
  top: 0;
  width: 14px;
  color: #ea3636;
  text-align: center;
  content: "*";
}