.app {
  font-family: -apple-system,PingFang SC,BlinkMacSystemFont,Microsoft YaHei,Helvetica Neue,Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #f5f7fb;
  color: #63656e;
  font-size: 12px;
  text-align: left;
}

.mt12 {
  margin-top: 12px;
}

.mt20 {
  margin-top: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.w240 {
  width: 240px;
}

.g-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-card {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(25,25,41,.05);
  border-radius: 2px;
  padding: .08rem .16rem;
}

.g-card-title {
  color: #313238;
  font-size: 14px;
  line-height: 22px;
}

.g-content {
  height: calc(100% - 52px);
  overflow-y: auto;
  padding: 20px 24px;
}

.setting-content .setting-head {
  padding: 15px 24px !important;
}
.setting-content .setting-head h2 {
  font-size: revert;
  font-weight: 700;
}