<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="<%= process.env.BK_PUBLIC_URL_PREFIX %>/static/images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= process.env.BK_PUBLIC_URL_PREFIX %>/static/images/favicon.png" type="image/x-icon" />
    <script src="<%= process.env.BK_PUBLIC_URL_PREFIX %>/console/static/devops-utils.js?t="></script>
    <meta charset="utf-8">
    <title> index </title>
  </head>
    <body>
      <div class="app"></div>
      <script>
        var BK_LOGIN_URL = '<%= process.env.BK_LOGIN_URL %>'
        var BK_IAM_URL_PREFIX = '<%= process.env.BK_IAM_URL_PREFIX %>'
        var PUBLIC_URL_PREFIX = '<%= process.env.BK_PUBLIC_URL_PREFIX %>' // 静态资源前缀
        var BK_CI_AUTH_PROJECT_APPROVAL = false
      </script>
