.show-tooltip{height:100%;display:flex;align-items:center}.show-tooltip .bk-tooltip-ref{display:flex;align-items:center}.show-tooltip-content{max-width:260px;font-size:12px}.show-tooltip-footer{margin-top:10px;text-align:right;color:#3A84FF}.close-tooltip-btn{cursor:pointer}

.bkdevops-radio[data-v-02ae6bc2]{margin-right:10px}

.icon-info-circle,.icon-question-circle{color:#C3CDD7;font-size:14px;vertical-align:middle}.form-field.bk-form-item{position:relative}.form-field-icon{position:relative;left:-20px;top:4px}.bk-sideslider-wrapper .bk-form-item.is-required .bk-label,.bk-form-inline-item.is-required .bk-label{margin-right:10px}.desc-link{color:#3c96ff}.atom-form-label{height:36px;line-height:36px;font-size:12px}

