$successColor: #34d97b;
$dangerColor: #ff5656;
$warningColor: #ffb400;
$runningColor: #459fff;
$pauseColor: #ff9801;
$primaryColor: #3c96ff;

$borderColor: #ebf0f5;
$borderWeightColor: #dde4eb;
$fontColor: #7b7d8a;
$fontWeightColor: #737987;
$fontBoldColor: #333948;
$fontLigtherColor: #c3cdd7;
$lineColor: #c3cdd7;