.versionSelector {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  border-left: 1px solid var(--border-color);
  padding-left: var(--spacing-sm);
}

.versionTrigger {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-xs);
  background-color: var(--bg-hover);
  line-height: var(--line-height-md);
  padding: 0 var(--spacing-sm);
  min-width: 200px;
}

.versionSelectToggleIcon {
  margin-left: auto;
  justify-self: flex-end;
  transition: transform 0.3s ease-in-out;
  transform: rotate(-90deg);
}

.checkIcon {
  &.latestCheckIcon {
    color: var(--color-success) !important;
  }
}

.versionOption {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.versionOption:active {
  background-color: var(--bg-hover-active);
}

.versionTag {
  margin: 0;
  font-size: var(--font-size-xs);
}

.viewAllEntry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4px;
  cursor: pointer;
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
  transition: color 0.2s;
}

.viewAllEntry:hover {
  color: var(--color-primary);
}

.dropdownLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  color: var(--color-text-placeholder);
  font-size: var(--font-size-xs);
}

.versionSelectToggleIconOpen {
  transform: rotate(0);
}

.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background var(--transition-fast);
  color: var(--color-text-tertiary);
}

.moreButton:hover {
  background: var(--bg-hover);
  color: var(--color-text-primary);
}
