.idea/
.gradle/
build/
!com/tencent/devops/common/pipeline/pojo/element/build/
!/element/build/
target/
out/
release/
reports/
*.iml
.DS_Store
*.log
gradle/
gradlew
gradlew.bat
version.txt
service/service-task/src/test/
classes/
/Log4j2Initializer.java
/service/service-defect/src/test
/service/service-task/src/test
/defect/boot-defect/src/test/
/schedule/boot-schedule/src/test/
/coverity/boot-coverity/src/test/
