@font-face {
	font-family: "codecc";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.codecc-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codecc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codecc:before {
	content: "\e069";
}
.icon-notify:before {
	content: "\e295";
}
.icon-change:before {
	content: "\eb72";
}
.icon-sort:before {
	content: "\edda";
}
.icon-pause:before {
	content: "\eddb";
}
.icon-pipeline:before {
	content: "\eddc";
}
.icon-star-gray:before {
	content: "\eddd";
}
.icon-repeat-rate:before {
	content: "\ee19";
}
.icon-codecc-record:before {
	content: "\ee1b";
}
.icon-codecc-data-report:before {
	content: "\ee1c";
}
.icon-setting:before {
	content: "\ee21";
}
.icon-complexity:before {
	content: "\ee22";
}
.icon-code-statistics:before {
	content: "\ee25";
}
.icon-repeat-file:before {
	content: "\ee26";
}
.icon-complex-fn:before {
	content: "\ee27";
}
.icon-norm:before {
	content: "\ee28";
}
.icon-defect:before {
	content: "\ee29";
}
.icon-loophole:before {
	content: "\ee2a";
}
.icon-new:before {
	content: "\ee2d";
}
.icon-checkstyle:before {
	content: "\ee3b";
}
.icon-coverity:before {
	content: "\ee3c";
}
.icon-cpplint:before {
	content: "\ee3d";
}
.icon-goml:before {
	content: "\ee3e";
}
.icon-expression:before {
	content: "\ee40";
}
.icon-sys_api-selected:before {
	content: "\ee42";
}
.icon-expression-selected:before {
	content: "\ee43";
}
.icon-sys_api_selected:before {
	content: "\ee44";
}
.icon-security:before {
	content: "\ee46";
}
.icon-security-selected:before {
	content: "\ee47";
}
.icon-performance:before {
	content: "\ee48";
}
.icon-performance-selected:before {
	content: "\ee49";
}
.icon-memory:before {
	content: "\ee4a";
}
.icon-compile:before {
	content: "\ee4b";
}
.icon-compile-selected:before {
	content: "\ee4c";
}
.icon-memory-selected:before {
	content: "\ee4d";
}
.icon-sys_api:before {
	content: "\ee4e";
}
.icon-sys_api-open:before {
	content: "\ee4f";
}
.icon-specs-copy-12:before {
	content: "\ee50";
}
.icon-specs-copy-13:before {
	content: "\ee51";
}
.icon-headerfile:before {
	content: "\ee52";
}
.icon-headerfile-selected:before {
	content: "\ee53";
}
.icon-logical:before {
	content: "\ee54";
}
.icon-logical-selected:before {
	content: "\ee55";
}
.icon-bestpractices:before {
	content: "\ee56";
}
.icon-bestpractices-selected:before {
	content: "\ee57";
}
.icon-stylistic:before {
	content: "\ee58";
}
.icon-stylistic-selected:before {
	content: "\ee59";
}
.icon-variable:before {
	content: "\ee5a";
}
.icon-variable-selected:before {
	content: "\ee5b";
}
.icon-specs-copy-24:before {
	content: "\ee5c";
}
.icon-specs-copy-25:before {
	content: "\ee5d";
}
.icon-specs-copy-26:before {
	content: "\ee5e";
}
.icon-specs-copy-27:before {
	content: "\ee5f";
}
.icon-specs-copy-28:before {
	content: "\ee60";
}
.icon-specs-copy-29:before {
	content: "\ee61";
}
.icon-specs-copy-30:before {
	content: "\ee62";
}
.icon-specs-copy-31:before {
	content: "\ee63";
}
.icon-specs-copy-32:before {
	content: "\ee64";
}
.icon-findbugs:before {
	content: "\ee65";
}
.icon-findbugs-selected:before {
	content: "\ee66";
}
.icon-node:before {
	content: "\ee67";
}
.icon-node-selected:before {
	content: "\ee68";
}
.icon-es6:before {
	content: "\ee69";
}
.icon-es6-selected:before {
	content: "\ee6a";
}
.icon-strictmode:before {
	content: "\ee6b";
}
.icon-strictmode-selected:before {
	content: "\ee6c";
}
.icon-specs-copy-41:before {
	content: "\ee6d";
}
.icon-specs-copy-42:before {
	content: "\ee6e";
}
.icon-specs-copy-43:before {
	content: "\ee6f";
}
.icon-specs-copy-44:before {
	content: "\ee70";
}
.icon-specs-copy-45:before {
	content: "\ee71";
}
.icon-specs-copy-46:before {
	content: "\ee72";
}
.icon-specs-copy-47:before {
	content: "\ee73";
}
.icon-default:before {
	content: "\ee74";
}
.icon-default-selected:before {
	content: "\ee75";
}
.icon-pic-label-new:before {
	content: "\eee4";
}
.icon-edit:before {
	content: "\ef2a";
}
.icon-record-2:before {
	content: "\ef3e";
}
.icon-handler:before {
	content: "\ef3f";
}
.icon-risky-file:before {
	content: "\ef42";
}
.icon-filter:before {
	content: "\ef43";
}
.icon-risky-function:before {
	content: "\ef46";
}
.icon-pipeline-2:before {
	content: "\ef49";
}
.icon-pie:before {
	content: "\ef4d";
}
.icon-trend:before {
	content: "\ef4e";
}
.icon-tips:before {
	content: "\ef55";
}
.icon-danger:before {
	content: "\ef57";
}
.icon-empty:before {
	content: "\f050";
}
.icon-handler-2:before {
	content: "\f05a";
}
.icon-link:before {
	content: "\f060";
}
.icon-manual-trigger:before {
	content: "\f086";
}
.icon-refresh-2:before {
	content: "\f087";
}
.icon-log-view:before {
	content: "\f0b5";
}
.icon-top-nail:before {
	content: "\f0b8";
}
.icon-filter-2:before {
	content: "\f0b9";
}
.icon-default-mark:before {
	content: "\f19b";
}
.icon-codecc-arrow:before {
	content: "\f21a";
}
.icon-user-fill:before {
	content: "\f228";
}
.icon-marked:before {
	content: "\f298";
}
.icon-creator:before {
	content: "\fd60";
}
.icon-checker:before {
	content: "\fd61";
}
.icon-ignore:before {
	content: "\fd62";
}
.icon-comment:before {
	content: "\fd64";
}
.icon-commenter:before {
	content: "\fd65";
}
.icon-time3:before {
	content: "\fd67";
}
.icon-mark:before {
	content: "\fd92";
}
.icon-time:before {
	content: "\fe50";
}
