@font-face {
	font-family: "iconcool";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

[class^="bk-iconcool"], [class*="bk-iconcool"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconcool' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bk-icon-tongzhi-shi:before {
	content: "\e001";
}
.bk-icon-anquan-shi:before {
	content: "\e002";
}
.bk-icon-bangzhu-shi:before {
	content: "\e003";
}
.bk-icon-caozuojilu:before {
	content: "\e004";
}
.bk-icon-chengxu:before {
	content: "\e005";
}
.bk-icon-chuliren:before {
	content: "\e006";
}
.bk-icon-cuowu-shi:before {
	content: "\e007";
}
.bk-icon-cuowu:before {
	content: "\e008";
}
.bk-icon-fengxianhanshu-shi:before {
	content: "\e009";
}
.bk-icon-fengxianwenjian-shi:before {
	content: "\e00a";
}
.bk-icon-guolv:before {
	content: "\e00b";
}
.bk-icon-jia:before {
	content: "\e00c";
}
.bk-icon-jian:before {
	content: "\e00d";
}
.bk-icon-lingdang:before {
	content: "\e00e";
}
.bk-icon-jiantou:before {
	content: "\e00f";
}
.bk-icon-liushuixian:before {
	content: "\e010";
}
.bk-icon-moren-shi:before {
	content: "\e011";
}
.bk-icon-mulu:before {
	content: "\e012";
}
.bk-icon-paixu:before {
	content: "\e013";
}
.bk-icon-pingjuzhi-shi:before {
	content: "\e014";
}
.bk-icon-qushi:before {
	content: "\e015";
}
.bk-icon-sanjiao:before {
	content: "\e016";
}
.bk-icon-shezhi:before {
	content: "\e017";
}
.bk-icon-shijian-shi:before {
	content: "\e018";
}
.bk-icon-shijian:before {
	content: "\e019";
}
.bk-icon-sousuo:before {
	content: "\e01a";
}
.bk-icon-tishi-shi:before {
	content: "\e01b";
}
.bk-icon-tishi:before {
	content: "\e01c";
}
.bk-icon-tiaozhuanlianjie:before {
	content: "\e01d";
}
.bk-icon-weixian:before {
	content: "\e01e";
}
.bk-icon-weixian1-shi:before {
	content: "\e01f";
}
.bk-icon-weixian1:before {
	content: "\e020";
}
.bk-icon-wenjian:before {
	content: "\e021";
}
.bk-icon-wenjianjia:before {
	content: "\e022";
}
.bk-icon-xiangshang-shi:before {
	content: "\e023";
}
.bk-icon-xinxi:before {
	content: "\e024";
}
.bk-icon-zhengque-shi:before {
	content: "\e025";
}
.bk-icon-zhengque:before {
	content: "\e026";
}
