@font-face {
	font-family: "codecc";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.codecc-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codecc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-statistics:before {
	content: "\e1c4";
}
.icon-branchs:before {
	content: "\e1c3";
}
.icon-codecc:before {
	content: "\e193";
}
.icon-notify:before {
	content: "\e101";
}
.icon-file:before {
	content: "\e1c2";
}
.icon-change:before {
	content: "\e103";
}
.icon-sort:before {
	content: "\e10a";
}
.icon-pause:before {
	content: "\e10c";
}
.icon-pipeline:before {
	content: "\e10d";
}
.icon-star-gray:before {
	content: "\e10e";
}
.icon-repeat-rate:before {
	content: "\e113";
}
.icon-codecc-record:before {
	content: "\e114";
}
.icon-codecc-data-report:before {
	content: "\e116";
}
.icon-setting:before {
	content: "\e11b";
}
.icon-complexity:before {
	content: "\e11c";
}
.icon-code-statistics:before {
	content: "\e11f";
}
.icon-repeat-file:before {
	content: "\e120";
}
.icon-complex-fn:before {
	content: "\e121";
}
.icon-norm:before {
	content: "\e123";
}
.icon-defect:before {
	content: "\e124";
}
.icon-loophole:before {
	content: "\e122";
}
.icon-new:before {
	content: "\e127";
}
.icon-checkstyle:before {
	content: "\e128";
}
.icon-coverity:before {
	content: "\e129";
}
.icon-cpplint:before {
	content: "\e12a";
}
.icon-goml:before {
	content: "\e12b";
}
.icon-pic-label-new:before {
	content: "\e162";
}
.icon-edit:before {
	content: "\e163";
}
.icon-record-2:before {
	content: "\e167";
}
.icon-handler:before {
	content: "\e168";
}
.icon-risky-file:before {
	content: "\e16c";
}
.icon-filter:before {
	content: "\e16b";
}
.icon-risky-function:before {
	content: "\e16f";
}
.icon-pipeline-2:before {
	content: "\e172";
}
.icon-pie:before {
	content: "\e174";
}
.icon-trend:before {
	content: "\e177";
}
.icon-tips:before {
	content: "\e17e";
}
.icon-danger:before {
	content: "\e180";
}
.icon-empty:before {
	content: "\e18c";
}
.icon-handler-2:before {
	content: "\e18e";
}
.icon-link:before {
	content: "\e192";
}
.icon-manual-trigger:before {
	content: "\e194";
}
.icon-refresh-2:before {
	content: "\e195";
}
.icon-log-view:before {
	content: "\e197";
}
.icon-top-nail:before {
	content: "\e198";
}
.icon-filter-2:before {
	content: "\e199";
}
.icon-default-mark:before {
	content: "\e19a";
}
.icon-codecc-arrow:before {
	content: "\e19c";
}
.icon-user-fill:before {
	content: "\e19d";
}
.icon-marked:before {
	content: "\e1a3";
}
.icon-creator:before {
	content: "\e1b1";
}
.icon-checker:before {
	content: "\e1b2";
}
.icon-ignore:before {
	content: "\e1b5";
}
.icon-comment:before {
	content: "\e1b3";
}
.icon-commenter:before {
	content: "\e1b6";
}
.icon-mark:before {
	content: "\e1ba";
}
.icon-time:before {
	content: "\e1bb";
}
.icon-trend-down-rise:before {
	content: "\e1bc";
}
.icon-trend-down:before {
	content: "\e1bd";
}
.icon-trend-rise-down:before {
	content: "\e1be";
}
.icon-trend-level:before {
	content: "\e1c0";
}
.icon-trend-rise:before {
	content: "\e1bf";
}
.icon-task-line:before {
	content: "\e1c5";
}
.icon-folders:before {
	content: "\e1c6";
}
.icon-export-excel:before {
	content: "\e1c7";
}
