name: Tag Realse
on:
  push:
    tags:
    - 'v*'

jobs:
  frontend:
    name: Build frontend
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v1
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - run: yarn install && yarn start && yarn public
      working-directory: src/frontend
    - uses: actions/upload-artifact@v1
      with:
        name: frontend
        path: src/frontend/frontend/

  agent:
    name: Build agent on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
      fail-fast: true
      max-parallel: 3
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.12
      - uses: actions/checkout@v2
      - run: make clean build_linux
        working-directory: src/agent/
        if: matrix.os == 'ubuntu-latest'
      - run: make clean build_macos
        working-directory: src/agent/
        if: matrix.os == 'macos-latest'
      - run: build_windows.bat
        shell: cmd
        working-directory: src/agent/
        if: matrix.os == 'windows-latest'
      - uses: actions/upload-artifact@v1
        with:
          name: agent
          path: src/agent/bin/

  backend:
    name: Build backend and release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: init mysql
        run: |
          sudo /etc/init.d/mysql start
          export MYSQL_PWD=root
          for i in *.sql;do echo $i;mysql -h localhost -uroot < $i;done
        working-directory: support-files/sql
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache Gradle
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Gradle Build
        uses: eskatos/gradle-command-action@v1
        with:
          gradle-version: 4.8.1
          build-root-directory: src/backend/ci/core
          arguments: clean test build -DmavenRepoUrl="http://maven.aliyun.com/nexus/content/groups/public/"
      
      - name: Create artifact - Step1:init
        run: |
          mkdir -p bkci/frontend
          mkdir -p bkci/gateway
          mkdir -p bkci/agent-package
          mkdir -p bkci/agent-package/script/linux
          mkdir -p bkci/agent-package/upgrade
          mkdir -p bkci/agent-package/jar
      
      - name: Create artifact - Step2:Microservices
        run: |
          cp -rf support-files/agent-package/script/* bkci/agent-package/script/
          cp -r src/gateway/* bkci/gateway/

          cd src/backend/ci/release/
          mv -v worker-agent.jar $GITHUB_WORKSPACE/support-files/agent-package/jar/

          bootlist=`ls boot-*.jar`
          for bootfile in $bootlist
          do
              servicename=`echo $bootfile | awk -F "[-.]" '{print $2}'`
              mkdir -p $GITHUB_WORKSPACE/bkci/$servicename/
              cp -v boot-$servicename.jar $GITHUB_WORKSPACE/bkci/$servicename/
          done

          mkdir -p $GITHUB_WORKSPACE/bkci/agentless/
          cp -v boot-dockerhost.jar $GITHUB_WORKSPACE/bkci/agentless/boot-agentless.jar

      - name: Create artifact - Step3:Agent
        uses: actions/download-artifact@v1
        with:
          name: agent
          path: bkci/agent-package/upgrade/
      
      - name: Create artifact - Step4:Frontend
        uses: actions/download-artifact@v1
        with:
          name: frontend
          path: bkci/frontend/

      - name: Create artifact - Step5:generate boot-microservice.sh
        run: ./generate_boot.sh
        working-directory: scripts/

      - name: Create artifact - Step6:support-files
        id: create-artifact
        run: |
          cp -rf support-files/ bkci/
          cp -rf support-files/agent-package bkci/
          rm -vf scripts/generate_boot.sh
          cp -rf scripts/ bkci/
          rm -rf bkci/support-files/agent-package
          cp -f bkci/frontend/console/frontend#console#index.html bkci/support-files/templates/frontend#console#index.html
          cp -f bkci/frontend/pipeline/frontend#pipeline#index.html bkci/support-files/templates/frontend#pipeline#index.html

          cp -f bkci/frontend/assets_bundle.json bkci/support-files/templates/project#assets_bundle.json
          echo "::set-output name=version::$(basename $GITHUB_REF)"
          basename $GITHUB_REF > bkci/VERSION

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: bk-ci ${{ github.ref }}
          draft: true
          prerelease: true
      
      - run: tar czvf bkci.tar.gz  bkci
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bkci.tar.gz
          asset_name: bkci.tar.gz
          asset_content_type: application/gzip
