# This is a basic workflow to help you get started with Actions

name: SQL Check

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master, release-* ]
    paths:
    - 'support-files/sql/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=10

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3
    - name: init mysql
      run: |
        export MYSQL_PWD=root
        runsql() {
          sql_file=$1
          if [[ -f $sql_file ]] && [[ "${sql_file##*.}"x = "sql"x ]] ;
          then
            echo "import $sql_file"
            mysql -h 127.0.0.1 --port ${{ job.services.mysql.ports['3306'] }} -uroot < $sql_file
          elif [[ -d $sql_file ]];
          then
            echo "loop dir $sql_file"
            for file in $sql_file/*;
            do
              runsql $file
            done
          else
            echo "$sql_file is nothing"
          fi
        }
        pwd
        for sql_file in *;
        do 
          runsql $sql_file;
        done
      working-directory: support-files/sql
