# This is a basic workflow to help you get started with Actions

name: SQL Check

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]
    paths:
    - 'support-files/sql/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - name: init mysql
      run: |
        sudo /etc/init.d/mysql start
        export MYSQL_PWD=root
        for i in *.sql;do echo $i;mysql -h localhost -uroot < $i;done
      working-directory: support-files/sql
